<html>
  <head>
  </head>
  <body>
    <h1>Braintree Customer Form</h1>
      <form action="/create_customer" method="POST" id="braintree-payment-form">
      <h2>Customer Information</h2>
      <p>
        <label>First Name</label>
        <input type="text" name="first_name" id="first_name"></input>
      </p>
      <p>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name"></input>
      </p>
      <p>
        <label for="postal_code">Postal Code</label>
        <input type="text" name="postal_code" id="postal_code"></input>
      </p>
      <h2>Credit Card</h2>
      <p>
        <label>Card Number</label>
        <input type="text" size="20" autocomplete="off" data-encrypted-name="number" />
      </p>
      <p>
        <label>CVV</label>
        <input type="text" size="4" autocomplete="off" data-encrypted-name="cvv" />
      </p>
      <p>
        <label>Expiration (MM/YYYY)</label>
        <input type="text" size="2" data-encrypted-name="month" /> / <input type="text" size="4" data-encrypted-name="year" />
      </p>
      <input class="submit-button" type="submit" />
    </form>
    <script src="https://js.braintreegateway.com/v1/braintree.js"></script>
    <script>
      var braintree = Braintree.create("MIIBCgKCAQEAoOBc+L8cqlt43ip0voGyqoVmhI8q6bBFua7oQR/br5HRc8vdEC7M9jeQsH7W93Dvn+EA9k8e9gXyZfAfrnBxkN9guteJhg7cKsWWYmlCZxjhylHmT7vwm8Xqq0vAoF6YDRLgn45ujOJNj+bSOG5oXCgEY/Omr0Zfph0xWctiJa+Znvt/fjlxvGY6FYiefd45th0TEeoeBUQtCCSgdtntfTbFezNn86OSdkiQHsgdu4HZ7UYpDKem6OocI6hBIiNAPltwkmxKzL2LfmTJCM7ZSr0b6F7860zGq79NEZa9CAF0wOPLjuzLZyjGMUM6UOYp85Li0G172cTkQvAnPqe6dwIDAQAB");
      braintree.onSubmitEncryptForm("braintree-payment-form");
    </script>
  </body>
</html>