body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

a{
	cursor: pointer;
}

.personInfo{
	padding-bottom: 20px;
}

.content-section-b {
	padding: 50px 0;
}

.img-responsive{
	height: auto;
	width: 100%;
}